.fl_s{
  width: 960px;
  height: 416px;
  position: absolute;
  top: 1px;
  left: 237px;
}

.tu{
  width: 960px;
  height: 416px;
}

.tu img{
  width: 960px;
  height: 416px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.ups{
  display: none;
}

.btn_left{
  width: 34px;
  height: 44px;
  background: url(http://pic.58pic.com/58pic/15/02/53/55F58PICtCT_1024.jpg) no-repeat;
  background-size: 34px 44px;
  position: absolute;
  left: 0;
  top: 200px;
  cursor: pointer;
}

.btn_right{
  width: 34px;
  height: 44px;
  background: url(http://pic.58pic.com/58pic/14/86/69/90X58PIC8zm_1024.jpg) no-repeat;
  background-size: 34px 44px;
  position: absolute;
  right: 0;
  top: 200px;
  cursor: pointer;
}

.dos{
  width: 440px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  position: absolute;
  right: 225px;
  bottom: 35px;
}

.dor{
  width: 440px;
  height: 17px;
  line-height: 17px;
  text-align: center;
}

.dor .doro{
  height: 10px;
  width: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-right: 22px;
  display: inline-block;
  cursor: pointer;
  list-style: none;
}

.dor .dors{
  width: 12px;
  height: 12px;
  border-radius: 10px;
  margin-bottom: -4px;
  line-height: 17px;
  border: 3px solid #fff;
  background: 0;
}